<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="form-header">
                        <h1>Make your reservation</h1>
                    </div>
                    <form action="https://formspree.io/f/mlezbkdn" method="post">
                        <div class=" row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Your name</span>
                                    <input class="form-control" type="text" placeholder="Name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Your Email</span>
                                    <input class="form-control" type="email" placeholder="Email" name="email" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Date </span>
                                    <input class="form-control" type="date" name="date" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Time </span>
                                    <input class="form-control" type="time" name="time" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <span class="form-label">Number of seats</span>
                                    <select class="form-control" name="seats">
                                        <option>1-5</option>
                                        <option>5-10</option>
                                        <option>10-20</option>
                                        <option>+20</option>

                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-btn">
                                    <button class="submit-btn">Submit Now</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>